@import '~antd/dist/antd.css';

.App {
    text-align: center;
}

.ant-layout-header {
    background: #ffe7ba;
}

.ant-layout {

    background: #ffe7ba;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;;

}

.enterSpace {
    background: #fff7e6;
    margin-left: 50px;
    margin-right: 50px;
}

.ant-col ant-col-12 {
border-style: inset;

}


